# Copy this file to .env and fill in your values.
# Do not commit .env.
#
# Alternatively, use 1Password: see .env.op and README.md for details.

WEASLEY_APPLE_ID="you@example.com"
WEASLEY_DSID=""
WEASLEY_CLIENT_ID=""
WEASLEY_TRMNL_API_KEY=""
WEASLEY_TRMNL_PLUGIN_UUID=""
WEASLEY_AMAZON_PLACES_API_KEY=""
